body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:black;
  color:white;
  height:100vh;
  overflow:hidden;
}

.bg{
  position:fixed;
  inset:0;
  background:radial-gradient(circle,#111 1px,transparent 1px);
  background-size:30px 30px;
  animation:move 25s linear infinite;
}

@keyframes move{
  to{background-position:200px 200px;}
}

.card{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

h1{
  font-size:3rem;
  text-shadow:0 0 20px white;
}

.location{
  display:block;
  margin:10px 0;
  opacity:.8;
}

.social a{
  color:white;
  margin:15px;
  font-size:24px;
  transition:.3s;
}

.social a:hover{
  color:#00f2ff;
  transform:scale(1.3);
}
